<nav>
  <ul class="nav__list">
    <li class="nav__item"><a class="nav__link" href="/">Main</a></li>
    <li class="nav__item"><a class="nav__link" href="/posts">Posts</a></li>
    <li class="nav__item"><a class="nav__link" href="/add-post">Add post</a></li>
    <li class="nav__item"><a class="nav__link" href="/about">About</a></li>
    <li class="nav__item"><a class="nav__link" href="/search">Search</a></li>
  </ul>
</nav>
